.SendGift {
    .Header {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
            fill: var(--ACCENT_COLOR);
        }

        .Avatar {
            z-index: 1;
        }
    }

    .Info {
        margin-top: 20px;
        text-align: center;

        .Title {
            font-family: var(--FF_TITLE);
            margin-top: 10px;
        }

        .Description {
            font-size: 0.9rem;
        }
    }

    .Gifts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
        gap: 7px;
    }
}
