:root {
    --AIR_BLOCK_COLOR: rgb(45 45 45 / 40%);
    --BR_BASE: 22px / 21px;
    
    --BODY_COLOR: rgb(0, 0, 0);
    --AIR_COLOR: rgba(15, 15, 15, 0.85);
    --AIR_SHADOW: 0px 3px 10px -3px rgb(0 0 0 / 50%);

    --AIR_CONTEXT_SHADOW_COLOR_START: rgb(53 51 61 / 30%);
    --AIR_CONTEXT_SHADOW_COLOR_END: rgb(6 6 8 / 70%);

    --BLOCK_COLOR: rgb(15, 15, 15);
    --BLOCK_COLOR_LITE: rgba(20, 20, 20, 0.7);
    --BLOCK_COLOR_LITE_TEXT: rgb(189 189 190);
    --BLOCK_BLOCK_COLOR: rgb(34, 34, 34);
    --BLOCK_BLOCK_COLOR_LITE: rgb(58 58 60 / 60%);
    --BLOCK_SHADOW: 0px 1px 2px -1px rgb(0 0 0 / 65%);

    --INPUT_COLOR: rgb(35, 35, 35);

    --BTN_TEXT_COLOR: #dbdbdb;
    --BTN_BACKGROUND: rgb(35 35 35);
    --BTN_CLOSE_COLOR: rgb(207 92 92 / 50%);

    --INTERACTION_BTN_COLOR: rgb(40 40 40 / 70%);
    --INTERACTION_BTN_TEXT_COLOR: rgb(255 255 255 / 70%);

    --GRADIENT_SHADOW: 0px 0px 9px -1px rgb(238 186 133 / 72%);

    --TITLE_COLOR: rgb(255 255 255);
    --TEXT_COLOR: rgb(233 233 233);

    --D_OR_P_COLOR: rgb(191 191 191);

    --ACCENT_COLOR: #fab31e;
    --REPLY_BG: linear-gradient(465deg, rgb(250, 179, 30, 40%), rgb(253, 147, 71, 40%));
    --REPLY_SVG_COLOR: rgb(253, 147, 71, 70%);
}

input[type="text"]::-webkit-input-placeholder, 
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::placeholder, 
textarea::-webkit-input-placeholder {
    color: rgb(193 192 199);
}

header {
    width: auto;
    margin: 10px;
    border-radius: 100px;
    padding: 10px;
    height: 60px;
}

header .Search-Container {
    z-index: 1;
}

header .Search-Container .UI-Input {
    border-radius: var(--BR_BASE);
}

header,
.Search-Result,
.UI-Window,
.Music-MiniPlayer {
    background: rgb(15 15 15 / 40%);
    backdrop-filter: none;
}

.Search-Result {
    border-radius: 28px;
}

.UI-Window {
    color: var(--TEXT_COLOR);
    border-radius: 28px;
}

.UI-Window_text {
    color: var(--TEXT_COLOR);
}

.UI-Tabs .Tab {
    border-radius: 100px;
    color: rgb(145 145 145 / 70%);
}

.UI-Tabs .ActiveTab {
    color: var(--BTN_TEXT_COLOR);
    background: rgb(77 77 77);
}

.Music-ControlButtons {
    z-index: 1;
}

header::after,
.Search-Result::after,
.UI-Window::after,
.Music-MiniPlayer::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 28px;
    backdrop-filter: blur(8px) saturate(1.2) brightness(0.8);
    isolation: isolate;
    -webkit-backdrop-filter: blur(8px) saturate(1.2) brightness(0.8);
}

header::before,
.Search-Result::before,
.UI-Window::before,
.Music-MiniPlayer::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: 
        inset 1px 1px 4px 3px rgb(45 45 45 / 30%),
        0px 4px 20px -5px rgb(0 0 0 / 30%);
}

a {
    background-image: var(--GOLD_GRADIENT);
    -webkit-background-clip: text;
    color: transparent;
}

.UI-Logo {
    background-image: url('/static_sys/Images/GoldStar.svg');
    filter: drop-shadow(0px 0px 4px rgb(253 177 102 / 62%));
    -webkit-background-clip: unset;
}

.UI-FormButton,
.UI-AddPost .Buttons .Send,
.UI-Send {
    background: var(--GOLD_GRADIENT);
}

.UI-FormButton:hover,
.UI-AddPost .Buttons .Send:hover {
    outline: solid 2px rgb(238 186 133 / 72%);
}

.UI-Switch-On {
    background: var(--GOLD_GRADIENT);
}

.Authorization-BTN_2 {
    background: none;
}

.UI-AddPost .Buttons .Send {
    box-shadow: var(--GRADIENT_SHADOW);
}

.Post .InteractionButtons .Liked {
    background: var(--GOLD_GRADIENT);
    color: #FFF;
    box-shadow: var(--GRADIENT_SHADOW);
}

.Post .InteractionButtons .Liked {
    fill: #FFF;
}

.Music-NoneCover {
    background: rgb(250 179 30 / 17%);
}
