:root {
    --AIR_BLOCK_COLOR: rgb(45 45 45 / 40%);
    --BR_BASE: 22px / 21px;
    
    --BODY_COLOR: rgb(0, 0, 0);
    --AIR_COLOR: rgba(15, 15, 15, 0.85);
    --AIR_SHADOW: 0px 3px 10px -3px rgb(0 0 0 / 50%);

    --AIR_CONTEXT_SHADOW_COLOR_START: rgb(53 51 61 / 30%);
    --AIR_CONTEXT_SHADOW_COLOR_END: rgb(6 6 8 / 70%);

    --BLOCK_COLOR: rgb(15, 15, 15);
    --BLOCK_COLOR_LITE: rgba(20, 20, 20, 0.7);
    --BLOCK_COLOR_LITE_TEXT: rgb(189 189 190);
    --BLOCK_BLOCK_COLOR: rgb(34, 34, 34);
    --BLOCK_BLOCK_COLOR_LITE: rgb(58 58 60 / 60%);
    --BLOCK_SHADOW: 0px 1px 2px -1px rgb(0 0 0 / 65%);

    --INPUT_COLOR: rgb(35, 35, 35);

    --BTN_TEXT_COLOR: #dbdbdb;
    --BTN_BACKGROUND: rgb(35 35 35);
    --BTN_CLOSE_COLOR: rgb(207 92 92 / 50%);

    --INTERACTION_BTN_COLOR: rgb(40 40 40 / 70%);
    --INTERACTION_BTN_TEXT_COLOR: rgb(255 255 255 / 70%);

    --GRADIENT: linear-gradient(345deg, #5c375f, #5b5eae) #5c4882;
    --GRADIENT_SHADOW: 0px 0px 9px -1px rgb(91 81 147 / 56%);

    --TITLE_COLOR: rgb(255 255 255);
    --TEXT_COLOR: rgb(233 233 233);

    --D_OR_P_COLOR: rgb(191 191 191);
}

input[type="text"]::-webkit-input-placeholder, 
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::placeholder, 
textarea::-webkit-input-placeholder {
    color: rgb(193 192 199);
}

header {
    width: auto;
    margin: 10px;
    border-radius: 100px;
    padding: 10px;
    height: 60px;

    .Search-Container {
        z-index: 1;

        .UI-Input {
            border-radius: var(--BR_BASE);
        }
    }
}

header,
.Search-Result,
.UI-Window,
.Music-MiniPlayer {
    background: rgb(15 15 15 / 40%);
    backdrop-filter: none;
}

.Search-Result {
    border-radius: 28px;
}

.UI-Window {
    color: var(--TEXT_COLOR);
    border-radius: 28px;
}

.UI-Window_text {
    color: var(--TEXT_COLOR);
}

.UI-Tabs .Tab {
    border-radius: 100px;
    color: rgb(145 145 145 / 70%);
}

.UI-Tabs .ActiveTab {
    color: var(--BTN_TEXT_COLOR);
    background: rgb(77 77 77);
}

.Music-ControlButtons {
    z-index: 1;
}

header::after,
.Search-Result::after,
.UI-Window::after,
.Music-MiniPlayer::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 28px;
    backdrop-filter: blur(8px) saturate(1.2) brightness(0.8);
    isolation: isolate;
    -webkit-backdrop-filter: blur(8px) saturate(1.2) brightness(0.8);
}

header::before,
.Search-Result::before,
.UI-Window::before,
.Music-MiniPlayer::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: 
        inset 1px 1px 4px 3px rgb(45 45 45 / 30%),
        0px 4px 20px -5px rgb(0 0 0 / 30%);
}

.UI-Logo {
    background-image: url("../Images/DarkLogo.svg");
}

.UI-Blur {
    background: rgb(0 0 0 / 40%);
    backdrop-filter: blur(8px);
}

.Notifications-NewNotification {
    background: rgb(43 43 43 / 60%);
    backdrop-filter: blur(8px);
    border-radius: 18px;
}

.UI-Switch {
    background: rgb(76 76 76 / 50%);
    border: 1px solid rgb(71 71 71 / 50%);
}

.UI-Switch-On {
    background: var(--ACCENT_COLOR);
    border: 0px solid rgba(255, 255, 255, 0);
}

.Post .InteractionButtons .Liked {
    background: rgb(113 101 132 / 30%);
    backdrop-filter: blur(4px);
}

.Post .Image .Censoring, .Blur {
    background: rgb(0 0 0 / 40%);
    backdrop-filter: blur(12px);
}

.Chat-Error_message {
    background: var(--BTN_BACKGROUND);
    backdrop-filter: blur(6px);
}

.Chat-M_URS {
    background: rgb(35 35 35 / 70%);
    backdrop-filter: blur(6px);
    color: #FFF;
}

.Music-FullPlayer_BG_Blur {
    background: rgb(39 39 39 / 50%);
    backdrop-filter: blur(15px) saturate(1.5);
}

@media only screen and (max-device-width: 768px),
only screen and (device-width: 768px) and (device-height: 768px),
only screen and (width: 768px) and (orientation: landscape),
only screen and (device-width: 768px),
only screen and (max-width: 768px) {
    .UI-B_FIRST {
        margin-top: 80px;
    }

    .Search-Result {
        margin: 80px auto auto auto;
    }

    header {
        padding: 0;
    }

    .UI-L_NAV {
        background: rgb(15 15 15 / 40%);
        backdrop-filter: none;
        width: auto;
        margin: 10px;
        border-radius: 100px;
        height: 70px;

        .ActiveButton {
            background: rgb(77 77 77 / 80%);
            border-radius: 20px;
            color: #FFF;

            .UI-LN_ICON svg {
                fill: #FFF;
            }
        }

        button {
            color: rgb(145 145 145 / 70%);
            background: rgb(255 255 255 / 0%);

            .UI-LN_ICON svg {
                fill: rgb(145 145 145 / 70%);
            }
        }
    }

    .UI-L_NAV::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: 28px;
        backdrop-filter: blur(8px) saturate(1.2) brightness(0.8);
        isolation: isolate;
        -webkit-backdrop-filter: blur(8px) saturate(1.2) brightness(0.8);
    }

    .UI-L_NAV::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 0;
        border-radius: 28px;
        box-shadow: 
            inset 1px 1px 4px 3px rgb(45 45 45 / 30%),
            0px 4px 20px -5px rgb(0 0 0 / 30%);
    }
}


header {
    -webkit-box-shadow: 0px 4px 10px -9px rgb(0 0 0);
    -moz-box-shadow: 0px 4px 10px -9px rgb(0 0 0);
    box-shadow: 0px 4px 10px -9px rgb(0 0 0);
}

.UI-Tabs .ActiveTab {
    background: rgb(77 77 77);
    box-shadow: 0px 0px 3px rgb(40 40 40 / 60%);
}

.UI-PRELOAD {
    background: rgb(100 100 100);
}
.UI-PRELOAD::after {
    background: rgb(212 212 212 / 40%);
}

.UI-Tabs .Tab {
    color: rgb(145 145 145 / 70%);
}
.UI-Tabs .ActiveTab {
    color: var(--BTN_TEXT_COLOR);
}

.UI-PartitionName {
    color: rgb(255 255 255 / 70%);
}

.Search-Result .Category button {
    color: rgb(177 177 177 / 70%);
}

.UI-Input:hover,
.UI-Input:focus {
    outline: 2px solid rgb(62 62 62 / 50%);
}

.UI-Window_BG {
    background: rgb(0 0 0 / 50%);
}

.UI-E_IMG {
    filter: contrast(1);
}

.Chat-M_Me .Loader, .Chat-M_URS .Loader {
    background: var(--BTN_BACKGROUND);
}

.Info-API_QT {
    color: #ffffff;
}

.Info-BL_R {
    background: rgb(50 50 50);
}
.Info-BL_R_IF {
    background: rgb(138 131 131 / 30%);
    border: 1px solid rgb(119 107 107 / 70%);
}

.Dashboard-Block svg {
    fill: rgb(84 84 84);
}

.Dashboard-SK_NA {
    background: linear-gradient(90deg, var(--BTN_BACKGROUND) 60%, rgb(68 122 60) 100%);
}
.Dashboard-SK_A {
    background: linear-gradient(90deg, var(--BTN_BACKGROUND) 60%, rgb(106 48 48) 100%);
}

.Dashboard-BottomBar {
    background: rgb(43 43 43 / 70%);
}

.Settings-CP_Cover .Settings-ChangeButtons .Button {
    background: rgb(56 56 56);
    color: #FFF;
}
.Settings-CP_Cover .Settings-ChangeButtons .ButtonDL {
    color: #FFF;
}

.UI-QuestionModal .Back {
    background: rgb(76 76 76 / 50%);
}

.Settings-CP_Input_container .Title {
    color: rgb(151 151 151);
}

.Music-SongPrev .Cover .CoverShadow {
    filter: blur(10px) brightness(0.6);
}
.Music-FullPlayer_C .Controls .Metadata {
    color: rgb(255 255 255 / 90%);
}
.Music-FullPlayer_C .Controls .Metadata .Author {
    color: rgb(255 255 255 / 80%);
}
.Music-FullPlayer_C .Controls .UI-Slider .Progress {
    background: rgb(255 255 255 / 90%);
}
.Music-FullPlayer_C .Controls .Info .Liked svg {
    fill: rgb(255 255 255 / 90%);
}

.GoldSub-User {
    background: linear-gradient(114deg, rgb(221 183 127 / 10%) 60%, rgb(112 89 42 / 60%));
}

.GoldSub-Buttons {
    .Pay {
        box-shadow: 0px 0px 9px -1px rgb(147 89 31);
        -moz-box-shadow: 0px 0px 9px -1px rgb(147 89 31);
        -webkit-box-shadow: 0px 0px 9px -1px rgb(147 89 31);
    }
    .Activate {
        background: rgb(76 76 76 / 50%);
    }
}