.TH-Container {
    border-radius: 10px;
    width: 70px;
    height: 110px;
    margin-right: 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.TH-Container:active {
    transition: all 0.1s ease;
}

.TH-TopBar,
.TH-BottomBar {
    width: 100%;
    height: 15px;
    position: absolute;
    z-index: 1;
}

.TH-TopBar {
    top: 0;
}

.TH-BottomBar {
    bottom: 0;
    border-top: solid 1px #e6e6e6;
}

.TH-Posts {
    width: 100%;
    height: 100%;
}

.TH-AddPost,
.TH-Post {
    border-radius: 2px;
    width: auto;
    height: 30px;
}

.TH-AddPost {
    margin: 18px 4px 0px;
    position: relative;
}

.TH-Button {
    border-radius: 2px;
    width: 25px;
    height: 6px;
    margin: 3.5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.TH-Post {
    margin: 2.5px 4px 0px;
}

.Theme-Light {
    .TH-Container {
        background: #e6e6e6;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: #f8f8f8;
    }

    .TH-BottomBar {
        border-top: solid 1px #e6e6e6;
    }

    .TH-AddPost,
    .TH-Post {
        background: #f8f8f8;
    }

    .TH-Button {
        background: #9674ca;
    }
}

.Theme-Light_LG {
    .TH-Container {
        background: #e6e6e6;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: #f8f8f8;
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 100px;
        border-top: solid 1px #e6e6e6;
        opacity: 0.8;
    }

    .TH-TopBar {
        top: 1px;
    }

    .TH-BottomBar {
        bottom: 2px;
    }

    .TH-AddPost,
    .TH-Post {
        background: #f8f8f8;
    }

    .TH-Button {
        background: #9674ca;
    }
}

.Theme-Gold {
    .TH-Container {
        background: #e6e6e6;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: #f8f8f8;
    }

    .TH-BottomBar {
        border-top: solid 1px #e6e6e6;
    }

    .TH-AddPost,
    .TH-Post {
        background: #f8f8f8;
    }

    .TH-Button {
        background: linear-gradient(465deg, #fab31e, #fd9347);
    }
}

.Theme-Dark {
    .TH-Container {
        background: #141414;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: #424242;
    }

    .TH-BottomBar {
        border-top: solid 1px #141414;
    }

    .TH-AddPost,
    .TH-Post {
        background: #424242;
    }

    .TH-Button {
        background: #9674ca;
    }
}

.Theme-Dark-LG {
    .TH-Container {
        background: #141414;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: rgba(66, 66, 66, 0.6);
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 100px;
        border-top: solid 1px #141414;
        opacity: 0.8;
    }

    .TH-TopBar {
        top: 1px;
    }

    .TH-BottomBar {
        bottom: 2px;
    }

    .TH-AddPost,
    .TH-Post {
        background: rgba(66, 66, 66, 0.6);
    }

    .TH-Button {
        background: #9674ca;
    }
}

.Theme-Gold-Dark {
    .TH-Container {
        background: #141414;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: #424242;
    }

    .TH-BottomBar {
        border-top: solid 1px #141414;
    }

    .TH-AddPost,
    .TH-Post {
        background: #424242;
    }

    .TH-Button {
        background: linear-gradient(465deg, #fab31e, #fd9347);
    }
}

.Theme-Amoled {
    .TH-Container {
        background: #000;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: #141414;
    }

    .TH-BottomBar {
        border-top: solid 1px #141414;
    }

    .TH-AddPost,
    .TH-Post {
        background: #101010;
    }

    .TH-Button {
        background: #9674ca;
    }
}

.Theme-Amoled-Gold {
    .TH-Container {
        background: #000;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: #141414;
    }

    .TH-BottomBar {
        border-top: solid 1px #141414;
    }

    .TH-AddPost,
    .TH-Post {
        background: #101010;
    }

    .TH-Button {
        background: linear-gradient(465deg, #fab31e, #fd9347);
    }
}

.Theme-Amoled-LG {
    .TH-Container {
        background: #000;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: rgba(15, 15, 15, 0.4);
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 100px;
        border-top: solid 1px #141414;
        opacity: 0.8;
    }

    .TH-TopBar {
        top: 1px;
    }

    .TH-BottomBar {
        bottom: 2px;
    }

    .TH-AddPost,
    .TH-Post {
        background: rgba(15, 15, 15, 0.4);
    }

    .TH-Button {
        background: #9674ca;
    }
}

.Theme-Gold_LG {
    .TH-Container {
        background: #e6e6e6;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: #f8f8f8;
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 100px;
        border-top: solid 1px #e6e6e6;
        opacity: 0.8;
    }

    .TH-TopBar {
        top: 1px;
    }

    .TH-BottomBar {
        bottom: 2px;
    }

    .TH-AddPost,
    .TH-Post {
        background: #f8f8f8;
    }

    .TH-Button {
        background: linear-gradient(465deg, #fab31e, #fd9347);
    }
}

.Theme-Gold-Dark_LG {
    .TH-Container {
        background: #141414;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: rgba(66, 66, 66, 0.6);
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 100px;
        border-top: solid 1px #141414;
        opacity: 0.8;
    }

    .TH-TopBar {
        top: 1px;
    }

    .TH-BottomBar {
        bottom: 2px;
    }

    .TH-AddPost,
    .TH-Post {
        background: rgba(66, 66, 66, 0.6);
    }

    .TH-Button {
        background: linear-gradient(465deg, #fab31e, #fd9347);
    }
}

.Theme-Amoled-Gold-LG {
    .TH-Container {
        background: #000;
    }

    .TH-TopBar,
    .TH-BottomBar {
        background: rgba(15, 15, 15, 0.4);
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 100px;
        border-top: solid 1px #141414;
        opacity: 0.8;
    }

    .TH-TopBar {
        top: 1px;
    }

    .TH-BottomBar {
        bottom: 2px;
    }

    .TH-AddPost,
    .TH-Post {
        background: rgba(15, 15, 15, 0.4);
    }

    .TH-Button {
        background: linear-gradient(465deg, #fab31e, #fd9347);
    }
}